@import url("https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap");

* {
  font-family: "Azeret Mono", monospace;
  margin: 0;
  padding: 0;
}

/* Shared Styles */

.btn {
  color: rgb(13, 19, 33);
  background-color: transparent;
  font-size: 20px;
  font-weight: 600;
  line-height: 23px;
  letter-spacing: 0%;
  text-align: center;
  padding: 24px;
  box-sizing: border-box;
  border: 1px solid rgb(13, 19, 33);
  cursor: pointer;
}

.text-center {
  text-align: center;
}

.primary-text {
  color: rgb(13, 19, 33);
}

nav,
main,
.footer-container {
  max-width: 1140px;
  margin: 0 auto;
}

section .title {
  font-size: 32px;
  font-weight: 800;
  line-height: 37px;
  text-align: center;
}

section .descriptipn {
  padding: 24px 48px 48px 48px;
  text-align: center;
}

/* Nav */
nav {
  display: flex;
  justify-content: space-between;
}

nav button {
  margin-top: 38px;
  margin-bottom: 36px;
  border-radius: 8px;
  opacity: 0.8;
}

.logo {
  margin-top: 50px;
  margin-bottom: 48px;
}

/* Banner */

.banner-container {
  /* background-image: url ("../assets/Hero-bg.png") !important; */
  background-image: url("../assets/Hero-bg.png");
  padding-top: 26px;
  padding-bottom: 45px;
}

.banner {
  max-width: 948px;
  margin: 0 auto;
}

.banner-image img {
  width: 240px;
  height: 240px;
}

.banner-title {
  font-size: 48px;
  line-height: 68px;
  font-weight: 800;
  margin-bottom: 24px;
}

.banner-sub-title {
  font-size: 16px;
  margin: 0 auto 32px auto;
  line-height: 26px;
  width: 90%;
  opacity: 70%;
}

.banner button {
  color: white;
  background-color: black;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
}

/* Web Development Section Start */

.web-development {
  margin-top: 74px;
  margin-bottom: 90px;
  background-color: rgba(13, 19, 33, 0.02);
  padding: 80px 97px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 16px;
}

.card-1,
.card-2 {
  display: flex;
  padding: 48px;
  gap: 98px;
  /* background: linear-gradient(rgb(255, 255, 255) rgba(255, 255, 255, 0)); */
  border-radius: 15px;
}

.card-1 {
  background-image: linear-gradient(
    rgb(255, 255, 255),
    rgba(255, 255, 255, 0.8)
  );
}

.card-1 .card-title,
.card-2 .card-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  margin-bottom: 16px;
}

.card-1 button,
.card-2 button {
  margin-top: 32px;
  padding: 12px 20px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.web-cards img {
  width: 274px;
  height: 240px;
}

/* Web Development Section End */

/* inspiration section start */
.inspiration {
  margin-bottom: 151px;
}
.inspiration p {
  margin-right: 20px;
}

.inspiration-video {
  padding: 32px;
  border-radius: 16px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.inspiration-video iframe {
  border-radius: 16px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
/* inspiration section end */

/* target section start */
.target {
  margin-bottom: 111px;
}
.target-cards,
.next-target-card {
  display: flex;
  gap: 24px;
}

.target-cards .card {
  padding: 40px;
  border-radius: 16px;
}

.target-cards .card img {
  width: 56px;
  height: 56px;
  margin-bottom: 24px;
}

.target-img img {
  width: 94px;
  height: 108px;
}

.target-card-title {
  font-size: 24px;
  line-height: 36px;
  font-weight: 800;
  margin-bottom: 8px;
}

.target-card-description {
  margin-bottom: 24px;
}

.learn-more {
  font-weight: 700;
}

.target-cards,
.next-target-cards a:visited {
  color: rgb(13, 19, 33);
}

.target-card-1 {
  background-color: rgba(255, 76, 30, 0.05);
}

.target-card-2 {
  background-color: rgba(0, 76, 232, 0.05);
}

.target-card-3 {
  background-color: rgba(255, 223, 0, 0.05);
}

.next-target-card {
  border: 1px solid rgba(13, 19, 33, 0.15);
  border-radius: 16px;
  padding: 40px;
  margin-bottom: 49px;
}

/* target section end */

/* contact-from start */
.contact-form {
  margin-bottom: 80px;
  padding: 48px;
  border-radius: 16px;
  background-image: url("../assets/handshake.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.contact-form .title,
.contact-form .descriptipn {
  color: white;
}

input[type="text"] {
  width: 684px;
  padding: 22px 20px;
  border-radius: 8px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border: none;
}
input[type="submit"] {
  padding: 17px 20px;
  border-radius: 8px;
  color: rgb(13, 19, 33);
  font-weight: 600;
  font-size: 20px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border: none;
}
/* contact-from end */

footer {
  background-color: rgba(13, 19, 33, 0.03);
  padding-top: 32px;
  padding-bottom: 32px;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-container p {
  font-size: 20px;
  font-weight: 600;
  line-height: 23px;
}

.footer-icon {
  display: flex;
  gap: 24px;
}

footer img {
  width: 36px;
  height: 36px;
}
